# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# sqlirte db
db.sqlite3

# python
*__pycache__/


# venv
venv

# env file
#.env
